<% include partials/header.ejs %>    
    
    <!-- Main Content-->
    <main class="container">
        <h1><%= title %></h1>
       <p> My name is Kateryna Bilokhvost and I am a graduate from Centennial College. During my tenure at Centennial College, 
           I have developed major skills in the area of application development. 
           These skills have developed my ability to perform a great variety of tasks.</p><p></p>
             <div class="container marketing">


    </main>
    
<% include partials/footer.ejs %>    