<% include partials/header.ejs %>    
    
    <!-- Main Content-->
    <main class="container">
        <h1><%= title %></h1>
        <p>The followig services are provided: 
        </p>
       
              <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img src="images/db.jpg" alt="Generic placeholder image" width="140" height="140">
          <h2>Database Development</h2>
          <p>Design and deploy data table structures, forms, reports, and queries.</p>
         
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/java.png" alt="Generic placeholder image" width="140" height="140">
          <h2>Coding</h2>
          <p>Java, C#, JavaScript, HTML, CSS.</p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img src="images/test.gif" alt="Generic placeholder image" width="140" height="140">
          <h2>Testing</h2>
          <p>Black box testing, white box testing, unit testing, integration testing, acceptance testing. Usability and Performance testing.</p>
          
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    </main>
    
<% include partials/footer.ejs %>    